.bodyForm{
    font-family: 'Amatic SC', cursive;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bodyForm h3{
    font-size: 40px;
}

.createForm{
    background-color: #fef8d5;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
 
}
.bodyForm button{
    font-size: 15px;
    font-family: 'Amatic SC', cursive;
    margin: 0 2px;
    padding: 5px 5px;
    box-shadow: transparent;
    border-radius: 20px;
    border: 1px solid #d4c4b5;
    background-color: #d4c4b5;

}
.bodyForm button:hover{
    font-size: 20px;
    height: 40px;
    width: 70px;
    border-radius: 50px;
    background-color: white;
}
.bodyForm button:disabled{
    background-color: #d4c4b5 ;
}
span{
    font-size: 20px;
}

input.danger{
    border: 2px solid red;
}

.divCreateForm{
    padding: 5px;    
}

.divCreateForm label{
    padding: 0 5px;
    font-size: 20px;
}

.divCreateForm input{
    padding: 0 5px;
    width: 20px;
}

.buttonDiv{

    display:flex;
    justify-content: end;
}

.divCreateSelect{
    padding: 5px;
}

.divCreateSelect label{
    padding: 0 5px;
    font-size: 20px;
}
.divCreateName{

    padding: 5px;  
}
.divCreateName label{
    padding: 0 5px;
    font-size: 20px;
}

.divCreateName span{
    padding: 3px;
    font-size: 18px;
}

.divCreateName button{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 12px;
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 10px;
 
}
.divCreateName button:hover{
    width: 30px;
    height: 30px;
    
}

.errors{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.errors p{
    padding: 3px
}