.filterContainer{
    display: flex;  
    align-items: center;
    justify-content: center;
}

.otroDivContainer{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
}

.filterClass{
    padding: 10px;

}
.filterSelect{
    font-size: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.filterSelect button{

    cursor: pointer;
    margin: 0 2px;
    padding: 5px 5px;
    box-shadow: transparent;
    border-radius: 15px;
    border: 1px solid #d4c4b5;
    background-color: #d4c4b5
}
.filterSelect button:hover{
    background-color: white;
}
.filterSelect input{
    width: 100px;
}
.filterSelect p{
    padding: 5px;
}