.ladingDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #ffde15 url('https://cdn.pixabay.com/photo/2021/01/23/07/53/dogs-5941898_960_720.jpg') no-repeat center; 
    background-size: contain;
    height: 100%;
}
.ladingDiv a{
    display: block;
}
.ladingDiv h1{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 15px;
}
.ladingDiv span{
    font-size: 50px;
}
.ladingDiv button{
    cursor: pointer;
    text-align: center;
    margin: 5px 20px;
    padding: 10px ;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 50px;
    background: #d4c4b5;
    border: 1px solid #d4c4b5;
    font-family: 'Amatic SC', cursive;
    color: #000
}
.ladingDiv button:hover{
    height: 75px;
    width: 75px;
    background-color: white;

}
body{
    height: 100%;
}
