.nav-container{ 
    background-color: #fef8d5;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: #000 1px solid;
    font-size: small;
    position: fixed;
    font-family: 'WindSong', cursive;;
    width: 100%;
    min-height:50px;
    top: 0; right: 0
}
.nav-container a{ 
    text-decoration: none;
}
.buttonNav{
    cursor: pointer;
    text-align: center;
    margin: 5px;
    padding: 10px ;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 5px;
    background: #d4c4b5;
    color: #000
}
.buttonNav:hover{
    background-color: white;
}