.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: slategray 1px solid;
    font-size: medium;
}
