.dogsContainer{
    font-family: 'Amatic SC', cursive;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;  
    padding: 0 10px

}
.doggieDiv{
    display: inline-block;
    background-color: #fff7d5;
    border-radius: 15px;
    padding: 15px 10px;
    height: 260px;
    margin: 10px 0;
    width: 300px;
}
.doggieDiv a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.doggieDiv button{
    font-family: 'Amatic SC', cursive;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    margin: 5px;
    background: #d4c4b5;
    color: #000;
    height: 30px;
    width: 70px;
    box-shadow: transparent;
    border-radius: 15px;
    border: 1px solid #d4c4b5;
}
.doggieDiv button:hover{
    font-size: 18px;
    height: 35px;
    width: 80px;
    border-radius: 60px;
    background-color: white;
  
}
.doggieDiv h3{
    font-size: 30px;
}
.doggieDiv p{
    font-size: 20px;
}

.dogImg{
    margin: 5px 0;
    border-radius: 10px;
    width: auto;
    max-width: 90%;
    max-height: 125px;
} 